.create-form{
    max-width: 600px;
    margin: auto;
    border: 4px solid #8d69f1;
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-bottom: 20px;
}
